/*
/*/

#*#
*~

*.elc
.#*
.*

/dicts/pyim/pyim-personal.txt
/configs/pyim/pyim-personal.txt

!/.gitignore
!/README.md

!/custom.el
!/custom-gui.el
!/custom-term.el
!/my-keymap.el
!/configs/
!/snippets/
!/utils/
!/lisp/
!/site-lisp/
!/init.el
!/.mc-lists.el